<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}
{% include _navigation.html %}


<div id="main" role="main"> 
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <div id="index">
  <article>
      
  <h3>Welcome</h3>
  <font size="3">
  <p>
     I am a 2<sup>nd</sup> year Master's student working as a Research Assistant supervised by Prof. K Madhava Krishna at <a href="http://robotics.iiit.ac.in/"> Robotics Research Centre</a>, International Institute of Information Technology-Hyderabad, India.
  </p>
  
  <p>
    I am working on Indoor Scene Understanding and inference to enable robots in searching for objects in indoor scenes. Earlier, I worked towards developing a framework to search and discover small objects scattered over large indoor floors. This work was published at ICRA-14, ICPR-14 and ICVGIP-14.
  </p>
  <p>
    My interests revolve around Computer vision and Machine Learning. Lately I have developed a lot of interest in Deep Neural Networks and their applications.
  </p>
  <p>
    I earlier interned at Siemens Research, India, National University of Singapore and Notion Ink Design Labs, India. 
  </p>
  <p>
    Cooking gives me loads of bliss. I am crazy about musrooms and food that has them. I love travelling. Recently I went on a road trip covering 1000 KM in Uttaranchal Hill ranges in Southern Himlayas in India on a Royal Enfield Thunderbird.
  </p>
  </font>

  <hr/>

  <div align="center"><b>I am privileged to be associated with the following</b></div>


  <table text-align="center"><tr><td>
    <a href='http://iiit.ac.in'><img src='images/iiit.png' width='100'></a></td>  <td><a href='http://www.fp-robotics.com/'><img src='images/fp.png' width='100'></a></td>  <td><a href='http://www.siemens.com'><img src='images/siemens.jpeg' width='100'></a></td>  <td><a href='http://arl.nus.edu.sg/twiki6/bin/view/ARL'><img src='images/nus.jpg' width='100'></a></td> </tr>
    <tr><td>2009-Present</td><td>2013-Present</td><td>Summer, 2013</td><td>Summer, 2012</td></tr>
  </table>

  <hr/>
  </article>
    
  
  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
  
</body>
</html>
